<!DOCTYPE html>
<html>
<head>
{% load static %}
  <meta charset="UTF-8" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">    <title>Get all titles</title>
</head>
<body>
    <div id="menu"></div>
    <div id="hello"></div>
    <ul>
        {% for title in titles %}
        <li>{{ title }}</li>
        {% endfor %}
    </ul>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <script type="text/babel">
        const menu = {
            home: "{% url 'index' %}",
            add_text: "{% url 'add_text' %}",
            get_all_titles: "{% url 'get_all_titles' %}",
            get_prediction: "{% url 'get_prediction' %}"
        }
        ReactDOM.render(
            <div>
                <h1><a href={menu.home}>Home</a></h1>
                <h1><a href={menu.add_text}>Add text to service</a></h1>
                <h1><a href={menu.get_all_titles}>View available texts</a></h1>
                <h1><a href={menu.get_prediction}>Get prediction</a></h1>
            </div>,
            document.getElementById("menu")
        )
        ReactDOM.render(
            <p>
                Heare you wath for all available books' titles.
            </p>,
            document.getElementById("hello")
        )
    </script>
</body>
</html>